@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hover scrollbar styles */
.hover-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.hover-scrollbar:hover::-webkit-scrollbar {
  width: 6px;
}

.hover-scrollbar:hover::-webkit-scrollbar-track {
  background: transparent;
}

.hover-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 3px;
}

.hover-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.8);
}
